{% extends 'base.html' %}
{% block content %}

<div class="container-fluid bg-2 text-center">
  <h3 class="margin">All Devices</h3>
  <body>
    {% for device in devices %}
    </br>
   Device name: {{ device.name }}
    </br>
   Device type: {{ device.type }}
    </br>
   Device IP: {{ device.ipadd }}
    </br>
   Device username: {{ device.user }}
    </br>
    </br>
   <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" name="name" value="arp:{{ device.name  }}"  class="save btn btn-default">ARP</button>
    </form>
    <form method="POST" class="post-form">{% csrf_token %}
        <button type="submit" name="name" value="config:{{ device.name  }}"  class="save btn btn-default">CONFIG</button>
    </form>
   {% endfor %}
<a href="{% url 'post_device' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Add Device</a>
  </body>
</div>
{% endblock %}
