








{% extends 'base.html' %}
{% block content %}


<div class="container-fluid bg-2 text-center">

  <h3 class="margin">All Devices</h3>
  <body>
	<p>
    {% for device in devices %}
    </br>
   Device name: {{ device.name }}
    </br>
   Device type: {{ device.type }}
    </br>
   Device IP: {{ device.ipadd }}
    </br>
   Device username: {{ device.user }}
    </br>
    </br>

<div class="btn-group pull-right">

   <form method="GET" action="{% url 'devices:DeviceArpView' %}">
        <button type="submit" name="name" value="{{ device.name }}" class="btn btn-primary"  >ARP</button>
    </form>

    <form method="GET" action="{% url 'devices:DeviceConfigView' %}">
        <button type="submit" name="name" value="{{ device.name }}" class="btn btn-primary" >CONFIG</button>
    </form>

    <form method="GET" action="{% url 'devices:DeviceFactsView' %}">
        <button type="submit"  name="name" value="{{ device.name }}" class="btn btn-primary">FACTS</button>
    </form>

    <form method="GET" action="{% url 'devices:DeviceDeleteView' %}">
        <button type="submit" name="name" value="{{ device.name }}" class="btn btn-danger">DELETE</button>
    </form>

</div>

   {% endfor %}
</br>
<a href="{% url 'devices:DeviceAddView' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span> Add Device</a>
</p>
</div>
</body>

{% endblock %}
